body{font-family: "Open Sans",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;
    background-color: #fff;padding-top: 50px; background-color: #f8f8f8;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{color: #fff;}
.navbar-inverse{border-color: #222;}
.user-name{background-color: #1c1c1c;}
.navbar-default {background-color: #0068d4;  border-color: #0065CD;}
.user-image{width: 20px; margin: 0 0px 0px 10px;}

.cloud-menu{background-color: #151515;  width: 58px;}
.navbar-secondary{background-color: #0498d5;border-radius: 0;max-height: 50px;margin-bottom: 0px}
.navbar-secondary .row {margin-right: 0px;}
.breadcrumb-secondary{color: #fff; font-size: 20px;margin: 12px 0 0 10px;}
.breadcrumb-secondary i, .breadcrumb-secondary span{float: left}
.breadcrumb-secondary span{margin-left: 0.5em}
.action-bar{background-color: #303030;min-height: 45px; color: #fff}
.btn-action-txt {position: absolute;margin-top: 14px;margin-left: 8px;}
.btn-action:hover{background-color: #000}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

a.btn-action{
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    display: inline-block;
    text-transform: uppercase;
    height: 53px;
    padding: 9px 10px;
}

.left-menu {
    position: absolute;
    width: 14em;
    z-index: 1000;
    background-color: red;
    height: 100%;
    left: 0px;
}

.cloud-menu .popover {
    border-radius: 0px;
    width: 31em;
    left: -27em !important;
    max-width: 31em;
}

.cloud-block {
    float: left;
    width: 9em;
    height: 9em;
    background-color: rgb(162, 201, 243);
    margin: 0.5em;
    padding: 2em;
}

.cloud-name {
    margin-top: .3em;
}

.cloud-menu-popover{
    position: relative;
    float: right;
    padding: 1px 8px;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

#cloud-menu-popover-xs{
    margin-top: 9px;
    color: #fff;
    padding: 6px;
    border: 1px solid rgb(62, 62, 62);
}

.navbar-header .popover {
    border-radius: 0px;
    width: 31em;
    max-width: 13em;
}

.cloud-menu .popover-content {
    padding: 9px 5px;
}

.cloud-actions {
    background-color: rgb(48, 48, 48);
    float: left;
    position: relative;
}

.cloud-block-invert {
    color: #fff;
    float: left;
    width: 9em;
    height: 8em;
    background-color: rgb(89, 89, 89);
    margin: 0.5em;
    padding: 2em;
}

.cloud-apps a{text-decoration: none; color: #000; cursor: pointer}
.cloud-apps a:hover{text-decoration: none; color: #fff; background-color: rgb(40, 40, 40)}
.cloud-apps .cloud-actions a{color: #fff}

@media (min-width: 768px){
    .menu-right {
        float: right;
        margin: 0px -15px;
    }


}

/* use for landing blocks*/
.cloud-app-select{background-color: white;
    padding: 1em;margin-top: 4em; min-height: 40em;  position: relative;}
.coud-inro{margin-top: 12em; color: #fff;}
.coud-inro .description{margin-top: 2em;}
.heading {
    margin: -14px -15px 0px;
    padding: 20px;
    text-align: center;
    background-color: rgb(100, 100, 100);
    color: #fff;
    font-size: 22px;
}

.row-full-height {
    height: 100%;
}
.col-full-height {
    vertical-align: middle;
}
.row-same-height {
    display: table;
    width: 100%;
    /* fix overflow */
    table-layout: fixed;
}

.cloud-app-select .content {
    padding: .5em;
    max-height: 22em;
    overflow: hidden;
}
.btn-footer {
    position: absolute;
    bottom: 2em;
    left: 0em;
    background-color: red;
    width: 100%;
    margin-bottom: -2em;
    height: 8em;
}

.btn-footer button {
    margin-top: 3em;
}


.cloud-new-content {
    margin-top: 17em;
}
.cloud-new-content button {
    margin-top: 3em;
}
.cloud-new-content .help{
    margin-top:2em;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: #333333;
}
#footer,#push { height: 36px;}


.footer-text{margin-top: 1em; color: #fff;  font-size: 11px;}

.cloud-app-type {
    background-color: #949494;
    margin-top: 3em;
    min-height: 13em;
    position: relative;
    z-index: 100;
    padding: 1em;
    text-align: center;
    color: #fff;

}
.cloud-app-type i{margin: .4em}
.listing{position: relative; font-size: 16px;}
.long {
    width: 100%;
    height: 13em;
    z-index: 99;
    background-color: #949494;
    margin-top: .5em;
    padding: 2em;
}

.cloud-app-selected {
    height: 14em;
    margin-bottom: -0.6em;
}

.app-color-one{background-color: #676767;  border-color: #676767;}
.app-color-two{background-color: #37678d; border-color: #37678d;}
.app-color-three{background-color: #e5a02b; border-color: #e5a02b;}